// *****************************************************************************
// Extend Objects
// *****************************************************************************

  .extension_filters {
     display: inline-block;
     width: 150px;
  }

  .form-buttons {
    margin-left: 150px;
  }